.wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list {
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
